@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root{
    --blue:    skyblue;

}

*{
    font-family: 'Combo', cursive;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--blue);
    color:white;

}
span{
    color: var(--blue);

}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1.5rem;
    
}
html::-webkit-scrollbar-track{
    background:#111;
    /* border-radius: 10px; */

}
html::-webkit-scrollbar-thumb{
    background:    skyblue;
    border-radius: 10px;
    
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}
header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

}

header .karthik img{
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit:cover ;
    margin-bottom: 1rem;
    border:.7rem solid var(--blue) ;

}
header .karthik .name{
    font-size: 4rem;
    color: white;

}
header .karthik .tag{
    font-size: 4rem;
    color:    skyblue;
    
}
header .navbar{
    width: 100%;

}
header .navbar ul{
    list-style:none;
    padding: 2rem 4rem;
    
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background:#333;
    color: white;
    font-size: 2rem;
    border-radius: 5rem;  
}
header .navbar ul li a:hover{
    background: var(--blue);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
    border-radius: 30px;
}

.home{
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    padding: 0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;
}
.home h1{
    font-size: 5rem;
    color: #fff;
}
.home span{
    color: var(--blue) ;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
.home p{
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 1rem solid rgba(81, 77, 77, 0.267) ;
    color: #fff;

}
.heading span{
    color: var(--blue);

}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    
}
.about .row .info{
    flex:1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
   
}
.about .row .info h3{
    font-size: 3.5rem;
    color: var(--blue);
    padding: 1rem 0;
    font-weight: normal;
}
.about .row .info h3 span{
    color: #eee;
    padding: 0 .5rem;
}
.about .row .info a{
    height: 100vh;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;

}
.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left :.2rem solid #fff;
    position: relative;
}
.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color: #fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem ;

}
.education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top:1.5rem ;

}
.education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top:1.5rem ;

}
.education .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding-top:1rem 0 ;

}
.education .box-container .box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height:5rem ;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background:var(--blue);


}
.skills .row .skill ul{
    list-style:none;
    padding: 2rem 4rem;
}
.skills .row .skill ul li{
    display: flex;
    padding: 1rem;
    margin: 1.5rem 0;
    background:#333;
    color: white;
    font-size: 3rem;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;

}
.skills .row .skill .heading{
    
    text-align: left;
    margin: 0 6rem;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: 1rem solid rgba(81, 77, 77, 0.267) ;
    color: #fff;
}
.projects .row .repos ul{
    list-style:none;
    padding: 2rem 4rem;
}

.projects .row .repos ul li{
    display: flex;
    padding: 1rem;
    margin: 1.5rem 0;
    background:#333;
    color: white;
    font-size: 3rem;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;


}
.projects .row .repos li a{
    color: white;
}

.connect .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.connect .row .content{
    flex:1 1 30rem ;
    padding: 4rem;
    padding-bottom: 0;
}
.connect .row form{
    flex:1 1 45rem ;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
    
}
.connect .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background:#3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    border-radius: 15px;

}
.connect .row form .box::placeholder{
    text-transform: capitalize;
}
.connect .row form .message{
    height: 15rem;
    resize: none;

}

.connect .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.connect .row .content .title span{
    color: var(--blue);
}
.connect .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;

}
.connect .row .content .info i,a{
    padding-right: 1rem;
    color: var(--blue);
    text-decoration: none;
}

.btn{
    padding: .7rem 3rem;
    background:#333;
    color:#fff ;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background:var(--blue);

}
.top{
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
    color: white;
}
















/* media quires */
@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    .home{
        padding:1rem 4rem ;
    }
}
@media (max-width:991px) {
  header{
    left:-120%;
  }

  #menu{
    display: block;
  }

  header.toggle{
    left: 0%;
  }
  body{
    padding: 0;
  }
}
/* @media (max-width:768px) {
    html{
        font-size: 50%;
    }
  
} */

@media (max-width:400px) {
    header{
      width: 100vw;
    }
    html{
        font-size: 50%;
    }
    .heading{
        margin: 0 3rem;
    }

    .education .box-container .box{
        width: 100%;
    }
    .connect .row form{
        margin: 3rem 0;
    }
  
}